
<div *ngIf="form.get('name')?.errors?.['required'] && formSubmitted">Name is required</div>


<form [formGroup]="form" (ngSubmit)="sendData()">
    <div>
        <label for="thename">Name</label>
        <input type="text" id="thename" formControlName="name">
    </div>

    <div>
        <label for="theusername">Username</label>
        <input type="text" id="theusername" formControlName="username">
    </div>
    <button>Send data</button>

    <fieldset formGroupName="address">
        <legend>Address</legend>
        <div>
            <label for="theaddressname">Name</label>
            <input type="text" id="theaddressname" formControlName="name">
        </div>
        <div>
            <label for="theaddressstreet">Street</label>
            <input type="text" id="theaddressstreet" formControlName="streetname">
        </div>       
    </fieldset>

    <fieldset formArrayName="emails">
        <legend>Emails</legend>
        <div *ngFor="let c of getarray('emails').controls; let i=index">
            <label [for]="'theemail'+i">Email</label>
            <input type="text" [id]="'theemail'+i" [formControlName]="i">
            <span (click)="removeEmail(i)">[X]</span>
        </div>
        <button type="button" (click)="addEmail()">Add Email</button>
    </fieldset>
</form>

<pre [hidden]="form.invalid">
    {{form.value | json}}
</pre>

{{count}}

<button type="button" (click)="count = count + 1">+1</button>



<!--

    To run the api: java - jar apiXXXXX.jar
    Then access to swagger: http://localhost:8086/learn/api/swagger-ui/#/

    ProductAdd
    1/ Supplier service + Product service.
    2/ Create the ProductAdd Component
    a/ Retrieve all suppliers and display them in a select
    b/ Define the form formGroup
    ex of value of the group
    {
        name: '',
        desc: '',
        ...,
        supplier: {
            id: ''
        }
    }
    
    c/binding the data from the html form to the FormGroup
    formControlName, formGroupName
    
    ProductList
    Diplay all the product in a list
-->